body {
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.album-footer.card-img-top{
	max-height: 250px;
}

.card-img-top{
	max-height: 300px;
}

.featurette-image{
	padding: 10px 10px 10px 10px;
}