<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/bootstrap-4.0.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/stylesheets/about.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.0.0/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/model.css') }}">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
        <title>Hackstreet</title>
    </head>
    <body>
    	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="{{url_for('index')}}">Hackstreet</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('bookhome')}}">Book</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('authorhome')}}">Author</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('publisherhome')}}">Publisher</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="{{url_for('about')}}">About</a>
                  </li>
              </ul>
            </div>
          </nav>
          
		<!-------------------------------------------------
			Main Blurb
		--------------------------------------------------->

		<section class= "container text-center">
			<div class="row">
				<div class="col-sm-2">
				</div>
				<div class="col-sm-8">
					<h1 class="display-1">Hackstreet Boys</h1>
				</div>
				<div class="col-sm-2">
				</div>
			</div>
		</section>

		<!-------------------------------------------------
			People
		--------------------------------------------------->
		<section class= "container text-center">
			<div class="row">
				<div class="col-lg-4">
					<img class="rounded-circle" src="{{ url_for('static', filename='images/DanaHsieh.jpeg') }}" alt="Dana" width="140" height="140">
					<h2>Dana Hsieh</h2>
					<p align="left">Bio: Civil Engineer
					<br>Major Responsibilities: Back-end
					<br>no. of commits: 8
					<br>no. of issues: 10
					<br>no. of unit tests: 0
					</p>
				</div><!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<img class="rounded-circle" src="{{ url_for('static', filename='images/SaiKasam.jpeg') }}" alt="Sai" width="140" height="140">
					<h2>Sai Kasam</h2>
					<p align="left">Bio: Management Information Systems
					<br>Major Responsibilities: Front-end
					<br>no. of commits: 13
					<br>no. of issues: 4
					<br>no. of unit tests: 0
					</p>
				</div><!-- /.col-lg-4 -->
				<div class="col-lg-4">
					<img class="rounded-circle" src="{{ url_for('static', filename='images/EricLu.jpeg') }}" alt="Eric" width="140" height="140">
					<h2>Eric Lu</h2>
					<p align="left">Bio: Management Information Systems
					<br>Major Responsibilities: Front-end
					<br>no. of commits: 5
					<br>no. of issues: 4
					<br>no. of unit tests: 0
					</p>
				</div><!-- /.col-lg-4 -->
		</div><!-- /.row -->
		<div class="row">
			<div class="col-lg-4">
				<img class="rounded-circle" src="{{ url_for('static', filename='images/SudeepSwarnapuri.jpeg') }}" alt="Sudeep" width="140" height="140">
				<h2>Sudeep Swarnapuri</h2>
				<p align="left">Bio: Finance
				<br>Major Responsibilities: Back-end
				<br>no. of commits: 4
				<br>no. of issues: 5
				<br>no. of unit tests: 0
				</p>
			</div><!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<img class="rounded-circle" src="{{ url_for('static', filename='images/BryanXiao.jpeg') }}" alt="Bryan" width="140" height="140">
				<h2>Bryan Xiao</h2>
				<p align="left">Bio: Management Information Systems
				<br>Major Responsibilities: Front-end
				<br>no. of commits: 15
				<br>no. of issues: 6
				<br>no. of unit tests: 0
				</p>
			</div><!-- /.col-lg-4 -->
		</div><!-- /.row -->
		</section>
		<section class= "container text-center">
		<div class="row">
			<div class="col-lg-4">
			</div>
			<div class="col-lg-4">
				<h2>Stats</h2>
				<p align="left">total no. of commits: 45
				<br>total no. of issues: 17
				<br>total no. of unit tests: 0
				<br><a href="https://gitlab.com/blx347811/hackstreet-phase1/issues">GitLab Issue Tracker</a>
				<br><a href="https://gitlab.com/blx347811/hackstreet-phase1">GitLab Repo</a>
				<br><a href="https://gitlab.com/blx347811/hackstreet-phase1/wikis/home">GitLab Wiki</a>
				</p>
				<h2>Data</h2>
				<p align="left"> <a href="http://www.cs.utexas.edu/~fares/cs329ef18/CS%20373_files/tutorials/books.json">Book Data Source</a>
				</p>
				<h2>Tools</h2>
				<p align="left">Tools used:
				<br>Bootstrap
				<br>Flask
				<br>Flask SQLAlchemy
				<br>Git
				<br>GitLab
				<br>Google Cloud Platform (GCP)
				<br>JQ
				<br>Slack
				<br>SQLAlchemy
				</p>

			</div>
		</div>
		</section>
	</body>
</html>