{% extends 'base.html' %}

{% block content %}
    <main role="main" class="container">

      <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">All the President's Men</h2>
            <p class="lead">
              <table>
                <tr>
                  <td>Title</td>
                  <td>ISBN</td>
                  <td>Publication Date</td>
                  <td>Description</td>
                  <td>Publisher Name</td>
                  <td>Author Name</td>
                </tr>
                <tr>
                  <td><a href="{{url_for('all_the_pres_men')}}">All the President's Men</a></td>
                  <td>9781471104664   </td>
                  <td>2012-12-11</td>
                  <td> Taut, gripping and fascinating, it is a classic of its kind -- the true story of the events that changed the American presidency.</td>
                  <td><a href="{{url_for('simon_schuster')}}">Simon Schuster</a></td>
                  <td><a href="{{url_for('carl_bernstein')}}">Carl Bernstein</a></td>
                </tr>
              </table>
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid" src="{{ url_for('static', filename='images/all-pres-men.jpg') }}" alt="Generic placeholder image">
          </div>
      </div>

      <div class="album py-5 bg-light">
        <div class="container">

          <!-- This entity's related entities -->
          <div class="row">
            <div class="col-lg-6">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='images/carl-bernstein.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <small class="text-muted">Author: <a href="{{url_for('carl_bernstein')}}">Carl Bernstein</a></small>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='images/simon-schuster.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <small class="text-muted">Publisher: <a href="{{url_for('simon_schuster')}}">Simon Schuster</a></small>
                </div>
              </div>
            </div>
          </div>

        </div><!-- /. card container -->
      </div>

    </main><!-- /.container -->
{% endblock %}
