{% extends 'base.html' %}

{% block content %}
<div id="authorid" class="books page picture">
	<div class="innerdiv">
		<div class="contentdiv">
			<h1 class="pagetitle">Authors</h1>
			<div class="hr"><span></span></div>
			<br>
			<table>
				<tr>
					<td width="10%">Name</td>
					<td width="15%">Born</td>
					<td width="15%">Alma Mater</td>
					<td width="25%">Educaiton</td>
					<td width="15%">Nationality</td>
					<td width="20%">Picture</td>
				</tr>
				{% for i in authors %}
				<tr>
					<td><a href={{i.wiki_url|string}}>{{i.name}}</a></td>
					<td>{{i.born}}</td>
					<td>{{i.alma_mater}}</td>
					<td>{{i.educaiton}}</td>
					<td>{{i.nationality}}</td>
					<td><img src={{i.image_url|string}} alt="No Picture :("></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
<nav aria-label="Page navigation example">
	<ul class="pagination">
			{% for i in range(1,authorsCount+1) %}
			<li class="page-item"><a class="page-link" href="{{url_for('authorhome', pagenum = i*10)}}">{{i}}</a></li>
			{% endfor %}
	</ul>
</nav>
{% endblock %}