{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
	<div class="container">
	  <div class="row">
		  <div class="col-sm-6">
			  <h1 class="display-3">{{author.name}}</h1>
			  <img src={{author.image_url|string}} alt="No Picture :(" class="auto-style5">
		  </div>
		  <div class="col-sm-6">
			  <table>
				  <tr>
					  <td>			
						<ul style="list-style-type:none">
						  <li>Date of Birth: {{author.born}}</li>
						  <li>Nationality: {{author.nationality}}</li>
						  <li>Education: {{author.education}}</li>
						  <li>Alma Mater: {{author.alma_mater}}</li>
						  <!-- <li><a class="btn btn-secondary" href={{url_for('bookinfo',passedid=author.id, page='book')}} role="button">Book &raquo;</a></li> -->
							Books by this author
							{% for i in books %}
							<li><a class="btn btn-secondary" href={{url_for('bookinfo',passedid=i.id, page='author')}} role="button">{{i.title}} &raquo;</a></li>
							{% endfor %}
							<br>
							Publishers used by this author<br>
						  {% for i in publishers %}
							<li><a class="btn btn-secondary" href={{url_for('publisherinfo',passedid=i.id, page='book')}} role="button">{{i.name}} &raquo;</a></li>
							{% endfor %}
							<br>
						  <li><a class="btn btn-secondary" href={{author.wiki_url|string}} role="button">Learn More &raquo;</a></li>

						</ul> 
					  </td>
				  </tr>
			  </table>
			</div>
		</div>
  	</div>

	<!-- <div class="container">
		{% for i in book %}
		<div class="row">
			<h2>Book List</h2>
			<li><a class="btn btn-secondary" href={{url_for('bookinfo',passedid=i.id, page='books')}} role="button">{{i.title}}} &raquo;</a></li>
		</div>
		{% endfor %}
	</div> -->
</div>


{% endblock %}
