{% extends 'base.html' %}

{% block content %}
<div class="books page picture">
	<div class="innerdiv">
		<div class="contentdiv">
			<h1 class="pagetitle">Authors</h1>
			<div class="hr"><span></span></div>
			<br>
			<table>
				<tr>
					<td width="10%">Name</td>
					<td width="15%">Born</td>
					<td width="15%">Education</td>
					<td width="25%">Nationality</td>
					<td width="15%">Books</td>
					<td width="20%">Publisher Name</td>
				</tr>
				{% for i in authors %}
				<tr>
					<td>{{i.name}}</td>
					<td>{{i.born}}</td>
					<td>{{i.education}}</td>
					<td>{{i.nationality}}...</td>
					<td></td>
					<td></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}