{% extends 'base.html' %}

{% block content %}
<div id="bookid" class="books page picture">
	<div class="innerdiv">
		<div class="contentdiv">
			<h1 class="pagetitle">Books</h1>
			<div class="hr"><span></span></div>
			<br>
			<table>
				<tr>
					<td width="10%">Title</td>
					<td width="15%">ISBN</td>
					<td width="15%">Publication Date</td>
					<td width="25%">Description</td>
					<td width="15%">Publisher Name</td>
					<td width="20%">Author Name</td>
				</tr>
				{% for i in books %}
				<tr>
					<td><a href="{{url_for('bookhome/'+i.id|string)}}">{{i.title}}</a></td>
					<td>{{i.isbn}}</td>
					<td>{{i.publisher_date}}</td>
					<td>{{i.description[0:100]}}...</td>
					<td></td>
					<td></td>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}