{% extends 'base.html' %}

{% block content %}

	<div class="jumbotron">
		<div class="container">
		  <h1 class="display-3">{{book.title}}</h1>
		  <p>ISBN: {{book.isbn}}</p>
		  <!-- <h4 class="display-4">ISBN: {{book.isbn}}</h4> -->
		  <p>{{book.description}}</p>
		</div>
	  </div>
	
	  <div class="container">
		<!-- Example row of columns -->
		<div class="row">
		  <div class="col-lg-4">
			<p><img src={{book.image_url|string}} alt="No Picture :(" class="auto-style5"></p>
		  </div>
		  <div class="col-lg-4">
		  </div>
		  <div class="col-lg-4">
			<h2 style="text-align: right">Book Information</h2>
			<p class="lead" style="text-align: right">Date Published: {{book.publisher_date}}</p>
			<p><a class="btn btn-secondary" href="{{url_for('publisherinfo',passedid=book.id, page='book')}}" role="button" style="float: right;">Publisher Info &raquo;</a></p>
		  </div>
		</div>


<!-- <div id="bookid" class="books page picture">
	<div class="innerdiv">
		<div class="contentdiv">
			<h1 class="Title">{{book.title}}</h1>
			<div class="hr"><span></span></div>
			<br>
			<h4 class="Author">Author Name</h4>
			<p></p>
			<h4 class="Description">Description</h4>
			<p>{{book.description}}</p>
			<h6 class="Publisher">Publisher Name</h6>
			<p></p>
			<h6 class="Date">Publication Date</h6>
			<p>{{book.publisher_date}}</p>
			<h6 class="ISBN">ISBN</h6>
			<p>{{book.isbn}}</p>
		</div>
	</div>
</div> -->
{% endblock %}
