{% extends 'base.html' %}

{% block content %}
<div id="bookid" class="books page picture">
	<div class="innerdiv">
		<div class="contentdiv">
			<h1 class="pagetitle">Books</h1>
			{{books}}
			<div class="hr"><span></span></div>
			<br>
			<table>
				<tr>
					<td width="10%">Title</td>
					<td width="15%">ISBN</td>
					<td width="15%">Publication Date</td>
					<td width="25%">Description</td>
				</tr>
				{% for i in books %}
				<tr>
					<td><a href="{{url_for('book',bookid=i.id)}}">{{i.title}}</a></td>
					<td>{{i.isbn}}</td>
					<td>{{i.publisher_date}}</td>
					<td>{{i.description[0:100]}}...</td>
					<!-- to delete -->
					<!-- <td><a href="{#{url_for('publisherinfo',publisherid=i.publisherID)}#}">{{i.publisherID}}</a></td> -->
				
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
<nav aria-label="Page navigation example">
		<ul class="pagination">
				{% for i in range(1,booksCount+1) %}
				<li class="page-item"><a class="page-link" href="{{url_for('bookhome', pagenum = i*10)}}">{{i}}</a></li>
				{% endfor %}
		</ul>
	  </nav>
{% endblock %}