{% extends 'base.html' %}

{% block content %}
    <main role="main" class="container">

      <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Brandon Sanderson</h2>
            <p class="lead">
              <table>
                <tr>
                  <td>Name</td>
                  <td>Born</td>
                  <td>Education</td>
                  <td>Wikipedia URL</td>
                  <td>Book Name</td>
                  <td>Author Name</td>
                </tr>
                <tr>
                  <td><a href="{{url_for('brandon_sanderson')}}">Brandon Sanderson</a></td>
                  <td>1974-12-19</td>
                  <td>Brigham Young University</td>
                  <td> https://en.wikipedia.org/wiki/Brandon_Sanderson</td>
                  <td><a href="{{url_for('mistborn')}}">Mistborn</a></td>
                  <td><a href="{{url_for('palgrave_mac')}}">Palgrave Macmillan</a></td>
                </tr>
              </table>
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid" src="{{ url_for('static', filename='images/brandon-sand.jpg') }}" alt="Generic placeholder image">
          </div>
      </div>

      <div class="album py-5 bg-light">
        <div class="container">

          <!-- This entity's related entities -->
          <div class="row">
            <div class="col-lg-6">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='images/mistborn.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <small class="text-muted">Book: <a href="{{url_for('mistborn')}}">Mistborn</a></small>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='images/palgrave-mac.jpeg') }}" alt="Card image cap">
                <div class="card-body">
                  <small class="text-muted">Publisher: <a href="{{url_for('palgrave_mac')}}">Palgrave Macmillan</a></small>
                </div>
              </div>
            </div>
          </div>

        </div><!-- /. card container -->
      </div>

    </main><!-- /.container -->
{% endblock %}
