{% extends 'base.html' %}

{% block content %}
    <main role="main" class="container">

      <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Carl Bernstein</h2>
            <p class="lead">
              <table>
                <tr>
                  <td>Name</td>
                  <td>Born</td>
                  <td>Education</td>
                  <td>Wikipedia URL</td>
                  <td>Book Name</td>
                  <td>Author Name</td>
                </tr>
                <tr>
                  <td><a href="{{url_for('carl_bernstein')}}">Carl Bernstein</a></td>
                  <td>1944-02-14</td>
                  <td>University of Maryland</td>
                  <td>https://en.wikipedia.org/wiki/Carl_Bernstein"</td>
                  <td><a href="{{url_for('all_the_pres_men')}}">All the President's Men</a></td>
                  <td><a href="{{url_for('simon_schuster')}}">Simon Schuster</a></td>
                </tr>
              </table>
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid" src="{{ url_for('static', filename='images/carl-bernstein.jpg') }}" alt="Generic placeholder image">
          </div>
      </div>

      <div class="album py-5 bg-light">
        <div class="container">

          <!-- This entity's related entities -->
          <div class="row">
            <div class="col-lg-6">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='images/all-pres-men.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <small class="text-muted">Book: <a href="{{url_for('all_the_pres_men')}}">All the President's Men</a></small>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='images/simon-schuster.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <small class="text-muted">Publisher: <a href="{{url_for('simon_schuster')}}">Simon Schuster</a></small>
                </div>
              </div>
            </div>
          </div>

        </div><!-- /. card container -->
      </div>

    </main><!-- /.container -->

 {% endblock %}
