<!-- Type in the following code and save it in the file "hello.html" inside the folder
"templates"
-->
<html>
 <head>

 </head>
    <body>
        <li>
        	<ul><a href="{{url_for('sorcerors_stone')}}">Sorceror's Stone</a></ul>
        	<ul><a href="{{url_for('mistborn')}}">mistborn</a></ul>
        	<ul><a href="{{url_for('all_the_pres_men')}}">All the President's Men</a></ul>
        	<ul><a href="{{url_for('jk_rowling')}}">JK Rowling</a></ul>
        	<ul><a href="{{url_for('brandon_sanderson')}}">Brandon Sanderson</a></ul>
        	<ul><a href="{{url_for('carl_bernstein')}}">Carl Bernstein</a></ul>
        	<ul><a href="{{url_for('pottermore')}}">Pottermore</a></ul>
        	<ul><a href="{{url_for('palgrave_mac')}}">Palgrave Macmillan</a></ul>
        	<ul><a href="{{url_for('simon_schuster')}}">Simon Schuster</a></ul>
            <ul><a class="nav-link" href="{{url_for('about')}}">About</a></ul>
        </li>
    </body>
</html>
<!-- end of hello.html --> 