{% extends 'base.html' %}

{% block content %}
    <main role="main" class="container">

      <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Pottermore</h2>
            <p class="lead">
              <table>
                <tr>
                  <td>Name</td>
                  <td>Founded</td>
                  <td>Location</td>
                  <td>Wikipedia URL</td>
                  <td>Book Name</td>
                  <td>Author Name</td>
                </tr>
                <tr>
                  <td><a href="{{url_for('pottermore')}}">Pottermore</a></td>
                  <td>NA</td>
                  <td>http://www.pottermore.com\nshop.pottermore.com</td>
                  <td>https://en.wikipedia.org/wiki/Pottermore</td>
                  <td><a href="{{url_for('sorcerors_stone')}}">Sorceror's Stone</a></td>
                  <td><a href="{{url_for('jk_rowling')}}">JK Rowling</a></td>
                </tr>
              </table>
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid" src="{{ url_for('static', filename='images/pottermore.jpg') }}" alt="Generic placeholder image">
          </div>
      </div>

      <div class="album py-5 bg-light">
        <div class="container">

          <!-- This entity's related entities -->
          <div class="row">
            <div class="col-lg-6">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='images/hpotter.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <small class="text-muted">Book: <a href="{{url_for('sorcerors_stone')}}">Harry Potter and the Sorceror's Stone</a></small>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{ url_for('static', filename='images/jk-rowl.jpg') }}" alt="Card image cap">
                <div class="card-body">
                  <small class="text-muted">Author: <a href="{{url_for('jk_rowling')}}">JK Rowling</a></small>
                </div>
              </div>
            </div>            
          </div>

        </div><!-- /. card container -->
      </div>

    </main><!-- /.container -->
    
{% endblock %}
