{% extends 'base.html' %}
{% block content %}
<div id="publisherid" class="books page picture">
	<div class="innerdiv">
		<div class="contentdiv">
			<h1 class="auto-style6">Publishers</h1>
			<div class="hr"><span></span></div>
			<div class="auto-style1">
				<br>
			</div>
			<table class="auto-style7">
				<tr>
					<td width="10%" class="auto-style4">Name</td>
					<td width="15%" class="auto-style4">Date Founded</td>
					<td width="15%" class="auto-style4">Website</td>
					<td width="15%" class="auto-style4">Description</td>
					<td width="10%" class="auto-style4">Book</td>
					<td width="10%" class="auto-style4">Author</td>
					<td width="20%" class="auto-style4">Picture</td>
				</tr>
				{% for i in publishers %}
				<tr>
					<td class="auto-style3"><a href="{{url_for('publisherinfo',passedid=i.id, page='publisher')}}">{{i.name}}</a></td>
					<td class="auto-style3">{{i.founded}}</td>
					<td class="auto-style3"><a href={{i.website|string}}>More Information</a></td>
					{% if i.description != none %}
					<td class="auto-style3">{{i.description[0:100]}}...</td>
					{% else %}
					<td class="auto-style3">No Description Available :(</td>
					{% endif %}
					<td class="auto-style3" style="height: 90px; width: 18%"><a href="{{url_for('bookinfo',passedid=i.id, page='publisher')}}">Book</a></td></td>
					<td class="auto-style3"><a href="{{url_for('authorinfo',passedid=i.id, page='publisher')}}">Author</a></td>
					<td class="auto-style2"><img src={{i.image_url|string}} alt="No Picture :(" class="auto-style5"></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
<nav aria-label="Page navigation example">
	<ul class="pagination">
			{% for i in range(1,pubCount+1) %}
			<li class="page-item"><a class="page-link" href="{{url_for('publisherhome', pagenum = i*10)}}">{{i}}</a></li>
			{% endfor %}
	</ul>
</nav>
{% endblock %}
	