{% extends 'base.html' %}

{% block content %}
<div id="publisherid" class="books page picture">
	<div class="innerdiv">
		<div class="contentdiv">
			<h1 class="pagetitle">Publishers</h1>
			<div class="hr"><span></span></div>
			<br>
			<table>
				<tr>
					<td width="10%">Name</td>
					<td width="15%">Wiki URL</td>
					<td width="15%">Founded</td>
					<td width="25%">Parent Company</td>
					<td width="15%">Books</td>
					<td width="20%">Publisher Name</td>
				</tr>
				{% for i in publishers %}
				<tr>
					<td>{{i.name}}</td>
					<td>{{i.wiki_url}}</td>
					<td>{{i.founded}}</td>
					<td>{{i.parent_company}}...</td>
					<td></td>
					<td></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
<nav aria-label="Page navigation example">
	<ul class="pagination">
			{% for i in range(1,pubCount+1) %}
			<li class="page-item"><a class="page-link" href="{{url_for('publisherhome', pagenum = i*10)}}">{{i}}</a></li>
			{% endfor %}
	</ul>
</nav>
{% endblock %}