{% extends 'base.html' %}

{% block content %}
<div id="publisherid" class="books page picture">
	<div class="innerdiv">
		<div class="contentdiv">
			<h1 class="pagetitle">Publishers</h1>
			<div class="hr"><span></span></div>
			<br>
			<table>
				<tr>
					<td width="10%">Name</td>
					<td width="15%">Wiki URL</td>
					<td width="15%">Founded</td>
					<td width="25%">Parent Company</td>
					<td width="15%">Book</td>
					<td width="15%">Author</td>
				</tr>
				{% for i in publishers %}
				<tr>
					<td><a href="{{url_for('publisherinfo',passedid=i.id, page='publisher')}}">{{i.name}}</a></td>
					<td>{{i.wiki_url}}</td>
					<td>{{i.founded}}</td>
					<td>{{i.parent_company}}...</td>
					<td class="auto-style3" style="height: 90px; width: 18%"><a href="{{url_for('bookinfo',passedid=i.id, page='publisher')}}">Book</a></td></td>
					<td><a href="{{url_for('authorinfo',passedid=i.id, page='publisher')}}">Author</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}