{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
	<div class="container">
	  <h1 class="display-3">{{publisher.name}}</h1>
	  <p>{{publisher.description}}</p>
	  <p><a class="btn btn-primary btn-lg" href={{publisher.website|string}} role="button">Learn more &raquo;</a></p>
	</div>
  </div>

  <div class="container">
	<!-- Example row of columns -->
	<div class="row">
	  <div class="col-md-4">
		<p><img src={{publisher.image_url|string}} alt="No Picture :(" class="auto-style5"></p>
	  </div>
	  <div class="col-md-4">
		<h2>Publisher Information</h2>
		<p class="lead">Date Founded: {{publisher.founded}}</p>
		<p>
		Books published by this publisher<br>
		{% for i in books %}
			<a class="btn btn-secondary" href={{url_for('bookinfo',passedid=i.id, page='book')}} role="button">{{i.title}} &raquo;</a>
		{% endfor %}
		<br>
		<br>Authors assoicated with this publisher<br>
		{% for i in authors %}
		<a class="btn btn-secondary" href={{url_for('authorinfo',passedid=i.id, page='author')}} role="button">{{i.name}} &raquo;</a>
		{% endfor %}
		</p>
		<p><br><a class="btn btn-secondary" href={{publisher.wiki_url|string}} role="button">Wikipedia &raquo;</a></p>
	  </div>
	</div>

{% endblock %}
